.conteudo-chamado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    background-color: var(--bg-card);
    border: 2px var(--border-color) solid;
    border-radius: 16px;
    padding: 30px;
    height: 75vh;
}

/*Informações do chamado*/
.conteudo-chamado .info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30%;
}

.info .id {
    color: var(--text-secondary);
    font-size: 16px;
}

.info .content {
    color: var(--text-primary);
    font-size: 20px;
}

/*Conteúdo do chamado*/
.conteudo-chamado .chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--bg-primary);
    border: 2px var(--border-color) solid;
    border-radius: 16px;
    padding: 30px;

    height: 100%;
    overflow-y: auto;
}

.mensagem {
    padding: 20px;
    border-radius: 16px;
    width: fit-content;
    max-width: 80%;
}

.enviada {
    background-color: var(--border-color);
    border-bottom-right-radius: 0px;
    align-self: end;
}

.recebida {
    background-color: var(--bg-card);
    border-bottom-left-radius: 0px;
    align-self: start;
}

.caixa-mensagem {
    border-radius: 16px;
    width: 60%;
    align-self: center;
    align-items: center;
}

.caixa-mensagem form {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.caixa-mensagem textarea {
    flex: 1;
    padding: 10px;
    font-size: 16px;

    background-color: var(--bg-primary);
    color: var(--text-primary);

    border: 2px solid var(--border-color);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    resize: none;
}

.caixa-mensagem button {
    padding: 10px 20px;

    border: 2px solid var(--blue);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}